together/garages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--
        Element GARAGES
        Hoofdelement met alle Garages
    -->
    <xs:element name="GARAGES">
        <xs:complexType>
            <xs:sequence>
                <!-- Gegevens van een garage -->
                <xs:element ref="GARAGE" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element GARAGE
        Bevat alle gegevens van een garage
    -->
    <xs:element name="GARAGE">
        <xs:complexType>
            <xs:sequence>
                <!-- Naam van de garage -->
                <xs:element ref="NAAM" />

                <!-- Adresgegevens van de garage -->
                <xs:element ref="ADRESGEGEVENS" />
                <xs:element name="TELEFOONNUMMER">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="([0-9]{2}) ([0-9]{8})"/>
                            <xs:pattern value="([0-9]{4}) ([0-9]{6})"/>
                            <xs:pattern value="([0-9]{4}) ([0-9]{3}) ([0-9]{3})"/>
                            <xs:pattern value="([0-9]{10})"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- E-mail van de garage (niet verplicht) -->
                <xs:element name="EMAIL" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- Gegevens van de verkoop van de garage -->
                <xs:element ref="VERKOOP" />

                <!-- Gegevens van de werkplaats van de garage -->
                <xs:element ref="WERKPLAATS" />

                <!-- De cerificaten van de garage -->
                <xs:element ref="CERTIFICATEN" minOccurs="0" />

                <!-- Gegevens van de medewerkers van de garage -->
                <xs:element ref="MEDEWERKERS" />

                <!-- De faciliteiten van de garage -->
                <xs:element ref="FACILITEITEN" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element NAAM
        Naam van de garage
     -->
    <xs:element name="NAAM">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>


    <!--
        Element Adresgegevens
        Adresgegevens van de garage
    -->
    <xs:element name="ADRESGEGEVENS">
        <xs:complexType>
            <xs:sequence>

                <!-- Straat  -->
                <xs:element name="STRAAT">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- Huisnummer -->
                <xs:element name="HUISNUMMER">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="4"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- Postcode -->
                <xs:element name="POSTCODE">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9][0-9][0-9][0-9] [A-Z][A-Z]"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- Plaats -->
                <xs:element name="PLAATS">
                    <xs:simpleType>
                        <xs:restriction base="xs:string" />
                    </xs:simpleType>
                </xs:element>

                <!-- Provincie -->
                <xs:element type="xs:string" name="PROVINCIE">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Groningen" />
                            <xs:enumeration value="Friesland" />
                            <xs:enumeration value="Drenthe" />
                            <xs:enumeration value="Overijssel" />
                            <xs:enumeration value="Flevoland" />
                            <xs:enumeration value="Gelderland" />
                            <xs:enumeration value="Utrecht" />
                            <xs:enumeration value="Noord-Holland" />
                            <xs:enumeration value="Zuid-Holland" />
                            <xs:enumeration value="Zeeland" />
                            <xs:enumeration value="Noord-Brabant" />
                            <xs:enumeration value="Limburg" />
                            <xs:enumeration value="België" /><!--Toegevoegd want het is gewoon zuid-nederland-->
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element VERKOOP
        Gegevens over de auto verkoop per garage
        De gegevens zijn:
            Openingstijden
            Diensten
            Occasions en/of nieuwe auto's
    -->
    <xs:element name="VERKOOP">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="OPENINGSTIJDEN" />
                <xs:element ref="DIENSTEN" />
                <xs:element ref="OCCASIONS" minOccurs="0" />
                <xs:element ref="NIEUWE-AUTOS" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element DIENSTEN
        Diensten van de verkoop: verhuur en/of lenen
    -->
    <xs:element name="DIENSTEN">
        <xs:complexType>
            <xs:choice maxOccurs="2">
                <xs:element type="xs:string" name="VERHUUR" minOccurs="0"/>
                <xs:element type="xs:string" name="LENEN" minOccurs="0"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <!--
        Element OCCASIONS
        De occasions die een garage verkoopt.
    -->
    <xs:element name="OCCASIONS" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AUTO" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="MODEL" />
                            <xs:element ref="BOUWJAAR" />
                            <xs:element ref="BRANDSTOF" />
                            <xs:element ref="PRIJS" />
                            <xs:element ref="APK-VERLOOP-DATUM" />
                            <xs:element ref="FOTOS" />
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="kenteken" use="required"/>
                        <xs:attribute type="xs:string" name="merk" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element NIEUWE-AUTOS
        De nieuwe auto's die een garage verkoopt.
        De auto bevat (Alles ):
            Model
            Bouwjaar
            Brandstof
            APK verloop datum
            Foto's
        Auto bevat als attribuut:
            Kenteken    (Niet required)
            Merk
    -->
    <xs:element name="NIEUWE-AUTOS" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AUTO" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="MODEL" />
                            <xs:element ref="BOUWJAAR" />
                            <xs:element ref="BRANDSTOF" />
                            <xs:element ref="PRIJS" />
                            <xs:element ref="APK-VERLOOP-DATUM" />
                            <xs:element ref="FOTOS" />
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="kenteken"/>
                        <xs:attribute type="xs:string" name="merk" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element MODEL
        Model van de auto
    -->
    <xs:element name="MODEL">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!--
        Element BOUWJAAR
        Bouwjaar van de auto
    -->
    <xs:element name="BOUWJAAR">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:pattern value="[1-2][0-9]{3}" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!--
        Element APK-VERLOOP-DATUM
        Datum van wanneer de apk verloopt
    -->
    <xs:element name="APK-VERLOOP-DATUM">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{4}" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!--
        Element FOTOS
        Moet minimaal 1 element FOTO bevatten
    -->
    <xs:element name="FOTOS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FOTO" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--
        Element WERKPLAATS
        Bevat de openingstijden en werkzaamheden van de werkplaats zoals

        Werkzaamheden kunnen zijn: onderhoud, apk, schadeherstel, ruitenreparatie, aircoservice en bandenservice.
    -->
    <xs:element name="WERKPLAATS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="OPENINGSTIJDEN" />
                <xs:element name="WERKZAAMHEDEN">
                    <xs:complexType>
                        <xs:choice maxOccurs="6">
                            <xs:element name="ONDERHOUD" />
                            <xs:element name="APK" />
                            <xs:element name="SCHADEHERSTEL" />
                            <xs:element name="RUITENREPARATIE" />
                            <xs:element name="AIRCOSERVICE" />
                            <xs:element name="BANDENSERVICE" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element CERTIFICATEN
        Dit kunnen bovag en rdw zijn.
    -->
    <xs:element name="CERTIFICATEN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BOVAG" minOccurs="0"/>
                <xs:element name="RDW" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element MEDEWERKERS
        Bevat gegevens van de werknemers:
            Voornaam
            Tussenvoegsel   (niet verplicht)
            Achternaam
            Foto
            Functie
    -->
    <xs:element name="MEDEWERKERS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MEDEWERKER" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="VOORNAAM" type="xs:string" />
                            <xs:element name="TUSSENVOEGSEL" type="xs:string" minOccurs="0"/>
                            <xs:element name="ACHTERNAAM" type="xs:string" />
                            <xs:element ref="FOTO" />
                            <xs:element name="FUNCTIE">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="naam" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element FACILITEITEN
        De faciliteiten die een garage kan hebben.
        De faciliteiten zijn pompen, wassen en een winkel
    -->
    <xs:element name="FACILITEITEN">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="POMPEN" minOccurs="0" />
                <xs:element ref="WASSEN" minOccurs="0" />
                <xs:element ref="WINKEL" minOccurs="0" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <!--
        Element POMPEN
        Deze bevat gegevens van alle pompen en de brandstofprijzen van de garage.
        Er moet minimaal 1 element POMP zijn.
            POMP bevat de attribute nummer die verplicht is.
            POMP bevat minimaal 1 element BRANDSTOF (zie omschrijving element BRANDSTOF).

        Er moet 1 element BRANDSTOF-PRIJZEN zijn.
            BRANDSTOF-PRIJZEN bevat BRANDSTOF-PRIJS wat minimaal 1 keer moet voorkomen
            BRANDSTOF-PRIJS bevat de brandstof (zie omschrijving element BRANDSTOF) en en zijn prijs (zie omschrijving element PRIJS).

    -->
    <xs:element name="POMPEN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="POMP" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BRANDSTOFFEN">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="BRANDSTOF" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:integer" name="nummer" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BRANDSTOF-PRIJZEN">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BRANDSTOF-PRIJS" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="BRANDSTOF" />
                                        <xs:element ref="PRIJS" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Element WASSEN
        Element WASSEN bevat WASSTRATEN en/of WASBOXEN
        WASSTRATEN bevat WASSTRAAT
        Een wasstraat heeft de attribuut nummer en de element prijs

        WASBOXEN bevat WASBOX
        Een wasbox heeft de attribuut nummer en de element prijs
    -->
    <xs:element name="WASSEN">
        <xs:complexType>
            <xs:choice maxOccurs="2">
                <xs:element name="WASSTRATEN">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="WASSTRAAT" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="PRIJS" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="nummer" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="WASBOXEN">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="WASBOX" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="PRIJS" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="nummer" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!--
        Element WINKEL
    -->
    <xs:element name="WINKEL">
        <xs:complexType>
            <xs:choice maxOccurs="4">
                <xs:element name="LEVENSMIDDELEN"/>
                <xs:element name="ROOKWAAR" />
                <xs:element name="TIJDSCHRIFTEN"/>
                <xs:element name="AUTO-ACCESSOIRES"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!--
        Element OPENINGSTIJDEN
        Bevat eventueel elementen van de dagen van de week 1 keer. (zondag t/m zaterdag)
    -->
    <xs:element name="OPENINGSTIJDEN">
        <xs:complexType>
            <xs:sequence>
                <!--
                    substitutionGroup kan alleen worden gebruikt bij
                    elementen dat een directe child is van de schema tag.
                    Daarom worden hier eerst referenties gebruikt.
                -->
                <xs:element ref="ZONDAG" minOccurs="0"/>
                <xs:element ref="MAANDAG" minOccurs="0" />
                <xs:element ref="DINSDAG" minOccurs="0" />
                <xs:element ref="WOENSDAG" minOccurs="0" />
                <xs:element ref="DONDERDAG" minOccurs="0" />
                <xs:element ref="VRIJDAG" minOccurs="0" />
                <xs:element ref="ZATERDAG" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Dit zijn allemaal dagen, daarom wordt DAY gebruikt.
    -->
    <xs:element name="ZONDAG" substitutionGroup="DAY" />
    <xs:element name="MAANDAG" substitutionGroup="DAY" />
    <xs:element name="DINSDAG" substitutionGroup="DAY" />
    <xs:element name="WOENSDAG" substitutionGroup="DAY" />
    <xs:element name="DONDERDAG" substitutionGroup="DAY" />
    <xs:element name="VRIJDAG" substitutionGroup="DAY" />
    <xs:element name="ZATERDAG" substitutionGroup="DAY" />
    <xs:element name="DAY">
        <xs:complexType>
            <xs:sequence>
                <!--
                    Er is minimaal 1 keer een opening en een sluiting nodig.
                    Om deze volgorde van opening en sluiting te houden staan
                    die tags er 2 keer in.
                -->
                <xs:element ref="OPENING" />
                <xs:element ref="SLUITING" />
                <xs:element ref="OPENING" minOccurs="0"/>
                <xs:element ref="SLUITING" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!--
        Element OPENING
        OPENING moet een tijd zijn
        De tijd moet 2 cijfers voor en 2 cijfers na de dubbele punt zijn.
        Dus 9 uur moet genoteerd worden als 09:00 en NIET als 9:00

    -->
    <xs:element name="OPENING">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{2}:[0-9]{2}"/>
                <xs:length value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!--
        Element SLUITING
        SLUITING moet een tijd zijn (zie omschrijving bij OPENING)
    -->
    <xs:element name="SLUITING">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{2}:[0-9]{2}"/>
                <xs:length value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>


    <!--
        Element FOTO
        Een foto moet een URL en een ALT element bevatten in die volgorde.
        Dus:
        <FOTO>
            <URL></URL>     Toegestaande extensies: jpg, png, jpeg, gif
            <ALT></ALT>
        </FOTO>
    -->
    <xs:element name="FOTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="URL">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="(.*)\.(jpg|png|jpeg|gif|JPG|PNG|JPEG|GIF)" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ALT" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Element PRIJS -->
    <xs:element name="PRIJS">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!--
                    De volgende voorbeelden zijn toegestaan:
                    500.00      500,00
                    500.-       500,-
                    5.000,-
                    5.000,00    5,000.00
                    5.000       5,000
                    50000

                    Prijzen hoger dan 999.999.999,99 zijn niet toegestaan
                    Duizentallen moeten met punt of met comma in de amerikaanse notatie
                -->
                <xs:pattern value="((([0-9]{1,3}),){0,2}([0-9]{1,3})|[0-9]{1,9})(\.[0-9]{2}|)" />
                <xs:pattern value="((([0-9]{1,3})\.){0,2}([0-9]{1,3})|[0-9]{1,9})(,[0-9]{2}|,-|)" />

            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- Element BRANDSTOF -->
    <xs:element name="BRANDSTOF">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <!-- Brandstof naam, als attribute -->
                    <xs:attribute name="naam" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">

                                <!-- Alleen deze type brandstoffen zijn toegestaan -->
                                <xs:enumeration value="Benzine"/>
                                <xs:enumeration value="Euro_95"/>
                                <xs:enumeration value="LPG"/>
                                <xs:enumeration value="Diesel"/>
                                <xs:enumeration value="CNG"/>
                                <xs:enumeration value="Super_Plus"/>
                                <xs:enumeration value="Super_MLV"/>
                                <xs:enumeration value="Premium_Benzine"/>
                                <xs:enumeration value="Premium_Diesel"/>

                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>