together/garages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GARAGES">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GARAGE" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NAAM">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ADRESGEGEVENS">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="STRAAT">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="HUISNUMMER">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="POSTCODE">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9][0-9][0-9][0-9] [A-Z][A-Z]"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="PLAATS">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" />
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="PROVINCIE">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Groningen" />
                                                    <xs:enumeration value="Friesland" />
                                                    <xs:enumeration value="Drenthe" />
                                                    <xs:enumeration value="Overijssel" />
                                                    <xs:enumeration value="Flevoland" />
                                                    <xs:enumeration value="Gelderland" />
                                                    <xs:enumeration value="Utrecht" />
                                                    <xs:enumeration value="Noord-Holland" />
                                                    <xs:enumeration value="Zuid-Holland" />
                                                    <xs:enumeration value="Zeeland" />
                                                    <xs:enumeration value="Noor-Brabant" />
                                                    <xs:enumeration value="Limburg" />
                                                    <xs:enumeration value="België" /><!--Toegevoegd want het is gewoon zuid-nederland-->
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TELEFOONNUMMER">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="([0-9]{2}) ([0-9]{8})"/>
                                        <xs:pattern value="([0-9]{4}) ([0-9]{6})"/>
                                        <xs:pattern value="([0-9]{10})"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="EMAIL" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="VERKOOP">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="OPENINGSTIJDEN" />
                                        <xs:element name="DIENSTEN">
                                            <xs:complexType>
                                                <xs:choice maxOccurs="2">
                                                    <xs:element type="xs:string" name="VERHUUR" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="LENEN" minOccurs="0"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="OCCASIONS">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AUTO" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MODEL">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="20" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="BOUWJAAR">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:integer">
                                                                            <xs:pattern value="[1-2][0-9]{3}" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element ref="BRANDSTOF" />
                                                                <xs:element ref="PRIJS" />
                                                                <xs:element name="APK-VERLOOP-DATUM">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{4}" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="FOTOS">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element ref="FOTO" maxOccurs="unbounded"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="kenteken"/>
                                                            <xs:attribute type="xs:string" name="merk" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="WERKPLAATS">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="OPENINGSTIJDEN" />
                                        <xs:element name="WERKZAAMHEDEN">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ONDERHOUD" minOccurs="0"/>
                                                    <xs:element name="APK" minOccurs="0"/>
                                                    <xs:element name="SCHADEHERSTEL" minOccurs="0"/>
                                                    <xs:element name="RUITENREPARATIE" minOccurs="0"/>
                                                    <xs:element name="AIRCOSERVICE" minOccurs="0"/>
                                                    <xs:element name="BANDENSERVICE" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CERTIFICATEN" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="BOVAG" minOccurs="0"/>
                                        <xs:element name="RDW" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MEDEWERKERS">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MEDEWERKER" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="VOORNAAM" type="xs:string" />
                                                    <xs:element name="TUSSENVOEGSEL" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="ACHTERNAAM" type="xs:string" />
                                                    <xs:element ref="FOTO" />
                                                    <xs:element name="FUNCTIE">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="naam" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="FACILITEITEN" minOccurs="0">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="POMPEN" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="POMP" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BRANDSTOFFEN">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element ref="BRANDSTOF" maxOccurs="unbounded"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:integer" name="nummer" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="BRANDSTOF-PRIJZEN">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BRANDSTOF-PRIJS" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element ref="BRANDSTOF" />
                                                                            <xs:element ref="PRIJS" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="WASSEN" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="WASSTRATEN" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="WASSTRAAT" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element ref="PRIJS" />
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="nummer" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="WASBOXEN" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="WASBOX" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element ref="PRIJS" />
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="nummer" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="WINKEL" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ITEMS" >
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ITEM" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:choice>
                                                                            <xs:element name="NAAM" type="xs:string" />
                                                                            <xs:element name="OMSCHRIJVING" type="xs:string" />
                                                                            <xs:element ref="PRIJS" />
                                                                            <xs:element name="VOORRAAD" type="xs:integer" />
                                                                        </xs:choice>
                                                                        <xs:attribute type="xs:string" name="nummer" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="OPENINGSTIJDEN">
        <xs:complexType>
            <xs:choice maxOccurs="7">
                <xs:element name="ZONDAG">
                    <xs:complexType>
                        <xs:choice maxOccurs="4">
                            <xs:element ref="OPENING" />
                            <xs:element ref="SLUITING" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MAANDAG">
                    <xs:complexType>
                        <xs:choice maxOccurs="4">
                            <xs:element ref="OPENING" />
                            <xs:element ref="SLUITING" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DINSDAG">
                    <xs:complexType>
                        <xs:choice maxOccurs="4">
                            <xs:element ref="OPENING" />
                            <xs:element ref="SLUITING" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="WOENSDAG">
                    <xs:complexType>
                        <xs:choice maxOccurs="4">
                            <xs:element ref="OPENING" />
                            <xs:element ref="SLUITING" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DONDERDAG">
                    <xs:complexType>
                        <xs:choice maxOccurs="4">
                            <xs:element ref="OPENING" />
                            <xs:element ref="SLUITING" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="VRIJDAG">
                    <xs:complexType>
                        <xs:choice maxOccurs="4">
                            <xs:element ref="OPENING" />
                            <xs:element ref="SLUITING" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ZATERDAG" minOccurs="0">
                    <xs:complexType>
                        <xs:choice maxOccurs="4">
                            <xs:element ref="OPENING" />
                            <xs:element ref="SLUITING" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="OPENING">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{2}:[0-9]{2}"/>
                <xs:length value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="SLUITING">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{2}:[0-9]{2}"/>
                <xs:length value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="FOTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="URL">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="(.*)\.(jpg|png|jpeg|gif|JPG|PNG|JPEG|GIF)" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ALT" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PRIJS">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="([0-9]+),([0-9]{2}|\-)" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BRANDSTOF">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="naam" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Euro_95"/>
                                <xs:enumeration value="LPG"/>
                                <xs:enumeration value="Diesel"/>
                                <xs:enumeration value="CNG"/>
                                <xs:enumeration value="Super_Plus"/>
                                <xs:enumeration value="Super_MLV"/>
                                <xs:enumeration value="Premium_Benzine"/>
                                <xs:enumeration value="Premium_Diesel"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>